$--color-white: #ffffff !default;
$--box-shadow-base: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04) !default;
$--color-black: #000000 !default;
$--color-primary-light: #ecf5ff !default;
$--color-text-primary: #303133 !default;
$--color-text-regular: #606266 !default;
$--color-primary: #409eff !default;
$--border-color-extra-light: #f2f6fc !default;

$--index-top: 1000 !default;
$--border-radius-base: 4px !default;
$--border-radius-base: 4px !default;
